Flask==2.3.3
python-dotenv==1.0.1
Pillow==10.2.0
pillow-heif==0.18.0
pytesseract==0.3.10
pdf2image==1.17.0
langdetect==1.0.9
supabase==2.4.5
fpdf2==2.7.8
python-docx==1.1.2
gunicorn==21.2.0
requests==2.32.3
gTTS==2.5.3
pyspellchecker==0.7.2
